<!DOCTYPE html>
<html lang="zh-Hant-Tw">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- meta -->
  <%- include('../layout/meta.ejs')%>
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <!-- <link rel="stylesheet" href="./assets/style/final.css"> -->
</head>

<body>
  <!-- header -->
  <header class="header">
    <%- include('../layout/header') -%>
  </header>
    <%- include('../modules/jumbotron') -%>


    <!-- 內容-->
    <%- contents %>


    <%- include('../modules/subscription') -%>
    <!-- footer -->
    <%- include('../layout/footer') -%>
    <div class="topBack"></div>

    <%- include('../modules/fixedBar') -%>
    <%- include('../modules/modal') -%>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>

